#AppPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#todolist {
  padding: 20px;
  max-width: 600px;
  min-width: 300px;
  min-height: 300px;
  box-shadow: 0px 0px 8px #eee;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
