.list-item{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #eee;
    @item-height:26px;
    line-height: @item-height;
    align-items: center;
    user-select: none;
    padding:0px 10px;
    transition:all 0.25s;
    &:hover{
        background:#f6f6f6;
    }
    label{
        flex-grow: 1;
        flex-shrink: 0;
        padding:8px 0px;
        cursor:pointer;
        font-size: 16px;
        input{
            margin:0px 8px;
        }
    }
    .delete{
        color:#fff;
        background-color: tomato;
        border:none;
        border-radius: 4px;
        display:none;
        user-select: none;
        cursor: pointer;
        transition:all 0.25s;
        padding:4px;
        font-size: 12px;
        &:hover{
            opacity: 0.4;
        }
    }
    &:hover{
        .delete{
            display:inline-block;
        }
    }
}