.todo-footer {
  display: flex;
  justify-content: space-between;
  user-select: none;
  margin-top: 20px;
}
.todo-footer input {
  margin-right: 6px;
}
.todo-footer .clearDone {
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.25s;
  opacity: 0.4;
}
.todo-footer .clearDone.active {
  opacity: 1;
}
.todo-footer .clearDone:hover {
  opacity: 0.4;
}
