.container {
  display: flex;
}
.container .Nav {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  background: #eee;
  border-radius: 6px;
  height: 200px;
  padding: 10px 10px;
}
.container .Nav a {
  padding: 10px;
  text-decoration: none;
  color: #000;
  transition: all 0.25s;
  border-radius: 6px;
  margin-bottom: 10px;
}
.container .Nav a:hover {
  background: rgba(255, 99, 71, 0.5);
}
.container .Nav a.action {
  background: tomato;
  color: #fff;
}
